# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../../:\Users\olesy\Desktop\2SEM\JAVA\Skola\PJV\cviceni\examples\java-examples-master\2DLevel\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
